@use 'src/variables' as *;

::ng-deep.custom-dialog-panel .mat-dialog-container {
  background: transparent !important;
  box-shadow: 0 4px 16px rgb(43 70 116 / 0.25) !important;
  padding: 0 !important;
  overflow: hidden  !important;
  border-radius: 12px;
  transition: all 0.3s ease;
  
}

::ng-deep .custom-dialog-panel .mat-dialog-container:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25) !important;
}


.dialog-wrapper {
  background:white; /* Dialog content background */
  border-radius: 12px;
  padding: 0;
  max-width: 520px;
  box-shadow: 0 4px 16px rgb(43 70 116 / 0.25);
  font-family: "Georgia", serif;
  transition: box-shadow 0.3s ease;
  overflow: hidden;
 

   &:hover {
    
    box-shadow: 0 8px 24px rgba(42, 51, 48, 0.2);
  }
}
.description {
  color: #5a5a5a;
  padding: 1;
}

.dialog-header {
  text-align: center;
  font-weight: 500;
  margin-bottom: 24px;
  font-size: 22px;
  color: #051133;
}

.ticket-card {
  display: flex;
  background-color: #f5f5f7;
  border-radius: 8px;
 
  overflow: hidden;
  box-shadow: 0 0 15px rgba(43, 70, 116, 0.36);
  
  transition: transform 0.3s ease;
  cursor: pointer;

    &:hover {
    
    background-color: #fff;
    transform: translateY(-1px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  //transition: all 0.3s ease;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px #a0d911;
  }
}

.year-strip {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(180deg, $primary-color 0%, #f5f5f7 100%);
  width: 70px;
  color: white;
  font-weight: 700;
  text-align: center;
  padding: 12px 0;
 
  .year-stripinner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  }

  .year-top,
  .year-bottom {
    font-size: 30px;
    line-height: 1;
    
  }

  .logo {
    margin: 39px 12px 12px auto;
    opacity: 0.7;
    svg {
      fill: white;
      width: 22px;
      height: 22px;
    }
    
  }
   .rotated-icon {
    margin-top: 80px;
    margin-left: 10px;
    transform: rotate(90deg);
    width: 48px;
    height: 28px;
  
  }
}
 

.ticket-content {
  padding: 20px 30px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  .ticket-title {
    font-size: 29px;
    color: #121b33;
    font-weight: 600;
    line-height: 1.2;
    margin: 0 0 12px 0;
    text-align: center;

    overflow-wrap: break-word;  
    overflow-wrap: anywhere;   
    word-break: break-word;    
    hyphens: auto;
  }

  .ticket-subinfo {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #b67862;
    border-bottom: 1px solid #b67862;
    padding: 8px 0;
    margin-bottom: 12px;

    .left-info,
    .right-info {
      .label {
        font-size: 14px;
        font-weight: 400;
        color: #222;
        margin-bottom: 4px;
      }
      .value {
        font-weight: 700;
        font-size: 16px;
      }
    }
    
  }

  .ticket-note {
    margin-top: 5px;
    font-size: 14px;
    line-height: 1.4;
    color: #111;
    text-align: center;
  }

  
}

.actions {
  display: flex;
  justify-content: center;
  

}
@media (max-width: 480px) {
  .ticket-content .ticket-title {
    font-size: 20px;
  }
  .year-strip .year-top,
  .year-strip .year-bottom {
    font-size: 24px;
  }
  .ticket-content {
    padding: 16px;
  }
   .ticket-subinfo {
    flex-direction: column;
    margin-bottom: 10px; 
    .left-info,
    .right-info {
      .label {
        font-size: 14px;
        font-weight: 400;
        color: #222;
        margin-bottom: 4px;
        margin-top: 4px;
      }
      .value {
        font-weight: 700;
        font-size: 16px;
      }
    }
  }
  .ticket-note {
    font-size: 12px;
    
  }
}